In [1]:
import pandas as pd
import csv
import zipfile

In [2]:
df = pd.read_csv('us-counties.zip', compression='zip')
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [4]:
df['region'] = df['county'] +' County, '+df['state']
df['death_rate'] = df['deaths'] / df['cases']
df = df.drop(columns=['county','state', 'fips'])
df.head()

         date  cases  deaths                        region  death_rate
0  2020-01-21      1     0.0  Snohomish County, Washington         0.0
1  2020-01-22      1     0.0  Snohomish County, Washington         0.0
2  2020-01-23      1     0.0  Snohomish County, Washington         0.0
3  2020-01-24      1     0.0         Cook County, Illinois         0.0
4  2020-01-24      1     0.0  Snohomish County, Washington         0.0

In [5]:
compression_opts = dict(method='zip',
                        archive_name='us_counties2.csv')  
df.to_csv('us_counties2.zip', compression=compression_opts)