In [1]:
import pandas as pd
import csv
import zipfile

In [2]:
df = pd.read_csv('us-counties.zip', compression='zip')
df2 = pd.read_csv('us_county_list2.csv')


#df.head()

In [3]:
us_state_abbrev = {
'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO',
'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA',
'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

In [4]:
df['state'] = df['state'].map(us_state_abbrev).fillna(df['state'])
df.head()

         date     county state     fips  cases  deaths
0  2020-01-21  Snohomish    WA  53061.0      1     0.0
1  2020-01-22  Snohomish    WA  53061.0      1     0.0
2  2020-01-23  Snohomish    WA  53061.0      1     0.0
3  2020-01-24       Cook    IL  17031.0      1     0.0
4  2020-01-24  Snohomish    WA  53061.0      1     0.0

In [ ]:
df2.head()
df = df[df['county'].str.contains('City')==False]
df = df[df['county'].str.contains('Unknown')==False]
df.head()

In [ ]:
# df['region'] = df['county'] +' County, '+df['state']
df['death_rate'] = df['deaths'] / df['cases']
df = df.drop(columns=['county','state', 'fips'])

df = df.join(df2.set_index('region'), on='region')




#df = df.drop(rows='Unknown County, RI')
#df.head()

In [ ]:
# test = df.loc[df["name"] == "Kenai Peninsula Borough", :]
# test.head()

In [ ]:
# df = df.drop(columns=['name','state'])
# df.head()

In [ ]:



#df.loc[df["region"] == "New York City County, NY", :]


# df['region'] = df['region'].str.replace('Borough County, AK', 'Borough, AK')
# df['region'] = df['region'].str.replace('Anchorage County, AK', 'Anchorage Municipality, AK')
# df['region'] = df['region'].str.replace('Skagway County, AK', 'Skagway Municipality, AK')
# df['region'] = df['region'].str.replace('County, LA', 'Parish, LA')
# df['region'] = df['region'].str.replace('Alexandria County, VA', 'Alexandria City, VA')
# df['region'] = df['region'].str.replace('Virginia Beach city County, VA', 'Virginia Beach City, VA')
# df['region'] = df['region'].str.replace('New York City County, NY', 'New York County, NY')
# df['region'] = df['region'].str.replace('City County, ', 'County, ')
# df['region'] = df['region'].str.replace('city County, ', 'County, ')
# df['region'] = df['region'].str.replace('District of Columbia County, District of Columbia', 'District of Columbia, DC')
# df[df['region'].str.contains('New York')]
# df.head()

In [ ]:
compression_opts = dict(method='zip',
                        archive_name='covid_counties.csv')  
df.to_csv('covid_counties.zip', compression=compression_opts)