In [68]:
import pandas as pd
import zipfile

covid_df = pd.read_csv('us-counties.zip', compression='zip')
covid_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [69]:
covid_df.loc[covid_df["state"]=="Louisiana", "county"] = covid_df.loc[covid_df["state"]=="Louisiana"]["county"] + " Parish"
covid_df[covid_df["state"]=="Louisiana"]

covid_df.loc[~covid_df["county"].str.contains("County|Parish|Area|Municipality|Borough", regex=True), "county"] = covid_df[~covid_df["county"].str.contains("County|Parish|Area|Municipality|Borough", regex=True)]["county"] + " County"

In [71]:
covid_df["county"] = covid_df["county"].str.replace("Anchorage County", "Anchorage Municipality")

In [73]:
covid_df = covid_df[covid_df["county"].str.contains("Unknown")==False]
covid_df[covid_df["county"].str.contains("Unknown County", regex=True)]

In [75]:
covid_df[covid_df["county"].str.contains("City", regex=True)]

               date                county     state     fips    cases   deaths
416      2020-03-01  New York City County  New York      NaN        1      0.0
448      2020-03-02  New York City County  New York      NaN        1      0.0
482      2020-03-03  New York City County  New York      NaN        2      0.0
518      2020-03-04  New York City County  New York      NaN        2      0.0
565      2020-03-05  New York City County  New York      NaN        4      0.0
...             ...                   ...       ...      ...      ...      ...
2312331  2022-03-16    Kansas City County  Missouri      NaN   112118   1266.0
2312546  2022-03-16    Carson City County    Nevada  32510.0    14480    209.0
2312657  2022-03-16  New York City County  New York      NaN  2289696  39994.0
2313732  2022-03-16   Charles City County  Virginia  51036.0     1145     27.0
2313774  2022-03-16     James City County  Virginia  51095.0    14719    116.0

[5733 rows x 6 columns]

In [76]:
covid_df["county"] = covid_df["county"].str.replace("New York City County", "New York County")
covid_df["county"] = covid_df["county"].str.replace("City County", "City")

In [77]:
covid_df["county"] = covid_df["county"].str.replace("city County", "City")

In [79]:
us_state_abbrev = {
'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO',
'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA',
'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

covid_df['state'] = covid_df['state'].map(us_state_abbrev).fillna(covid_df['state'])
covid_df = covid_df.drop(columns=["fips"])
covid_df.head()

         date            county state  cases  deaths
0  2020-01-21  Snohomish County    WA      1     0.0
1  2020-01-22  Snohomish County    WA      1     0.0
2  2020-01-23  Snohomish County    WA      1     0.0
3  2020-01-24       Cook County    IL      1     0.0
4  2020-01-24  Snohomish County    WA      1     0.0

In [80]:
covid_df["region"] = covid_df["county"] + ", " + covid_df["state"]
covid_df.head()

         date            county state  cases  deaths                region
0  2020-01-21  Snohomish County    WA      1     0.0  Snohomish County, WA
1  2020-01-22  Snohomish County    WA      1     0.0  Snohomish County, WA
2  2020-01-23  Snohomish County    WA      1     0.0  Snohomish County, WA
3  2020-01-24       Cook County    IL      1     0.0       Cook County, IL
4  2020-01-24  Snohomish County    WA      1     0.0  Snohomish County, WA

In [115]:
covid_df['region'] = covid_df['region'].str.replace('District of Columbia County, District of Columbia', 'District of Columbia, DC')
covid_df['region'] = covid_df['region'].str.replace('ñ', 'n')
covid_df['region'] = covid_df['region'].str.replace('LaSalle', 'La Salle')
covid_df['region'] = covid_df['region'].str.replace('King and Queen County, VA', 'King & Queen County, VA')
covid_df['region'] = covid_df['region'].str.replace('La Salle County, IL', 'LaSalle County, IL')
covid_df = covid_df[covid_df.region != 'Yakutat plus Hoonah-Angoon County, AK']
covid_df = covid_df[covid_df.region != 'James City, VA']
covid_df = covid_df[covid_df.region != 'Kansas City, MO']
covid_df = covid_df[covid_df.state != 'Virgin Islands']
covid_df = covid_df[covid_df.state != 'Puerto Rico']
covid_df = covid_df[covid_df.state != 'Northern Mariana Islands']
covid_df = covid_df[covid_df.region != 'Oglala Lakota County, SD']
covid_df = covid_df[covid_df.region != 'Bristol Bay plus Lake and Peninsula County, AK']
covid_df = covid_df[covid_df.region != 'Joplin County, MO']
covid_df = covid_df[covid_df.region != 'Kusilvak Census Area, AK']
covid_df = covid_df[covid_df.region != 'Pending County Assignment, TX']


#covid_df[covid_df["region"].str.contains("Kansas City, MO", regex=True)]

Empty DataFrame
Columns: [date, county, state, cases, deaths, region]
Index: []

In [116]:
compression_opts = dict(method='zip',
                        archive_name='covid_counties.csv')  
covid_df.to_csv('covid_counties.zip', index=False, header=True, compression=compression_opts)